body.task3 {
  background-color: rgb(255, 255, 127);
}

div.task3 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 700px;
}
@media (max-width: 800px) {
  div.task3 {
    width: 100%;
  }
}
