body.task4 {
  background-color: rgb(148, 255, 148);

  div.task4 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 700px;

    &__form {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      flex-grow: 1;
    }

    .task4__comments {
      font-family: monospace;
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 800px) {
  div.task4 {
    width: 100%;
  }
}
